* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

/* Loader Styles */
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 23vh 10vw;
}

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

#line1-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 2vw;
  font-family: "silk serif";
  font-weight: 100;
}

#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 6.7vw;
  text-transform: uppercase;
  font-weight: 700;
}

.line h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* animation for loader now text */
@keyframes animation {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

/* Main Styles */
#main {
  position: relative;
  background-color: black;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #151515;
}
